{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/product-list.css' %}">

<div class="container">
    <h1 class="text-center text-warning">Product-list</h1>

    {% include 'product/search.html' %}

    <div class="row">
        
        {% include 'product/category.html' %}
    
        <div class="row list-row my-5 ">
            {% for ol in object_list %}
            <div class="card-list col-md-3 col-sm-4 col-12 col-lg-3 my-2 pull-left">
                <img src="{{ ol.image.url }}" alt="">
                <h2 class="text-dark">{{ol.title}}</h2>
                <p class="text-dark">{{ ol.snippet }}</p>
                <span class="text-dark"><span class="text-success">$</span>{{ ol.price }}</span>
                <a href="{% url 'Shoping:ProductDetail' ol.pk %}" class="btn button btn-sm btn-block">View</a>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="d-flex justify-content-center">
        <div class="btn-toolbar mb-3 my-5" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="butto-n btn">&laquo;</a>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <a href="?page={{page}}" class="butto-n btn active" style="background-color: #FF685B;">{{page}}</a>
                    {% else %}
                        <a href="?page={{page}}" class="butto-n btn ">{{page}}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="butto-n btn">&raquo;</a>
                {% endif %}
    
            </div>
        </div>
    </div>
</div>

{% endblock %}  
