{% extends 'base.html' %}
{% load static %}

{% block title %}
محصولات/{{product.header}}
{% endblock %}

{% block body %}

<div class="container my-5">
    <link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
    <a href="{% url 'Shoping:ProductList' %}" class="button my-3 btn btn-sm">عقب</a>
    <div class="col-12 col-md-12 card card-body text-center card-detail my-5">
        <img src="{{ product.image.url }}" alt="">
        <h2 class="my-5">{{product.title}}</h2>
        <p>{{product.description}}</p>
        <span><span class="dolar"></span>{{ product.price }} تومان</span>   
        <div class="history">
            <p class="text">{{ product.time | timesince }} پیش</p>
            <!-- <p class="text">{{ product.time | date }} ago</p> -->
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <form action="/add-user-order" method="POST">
            {% csrf_token %}
            {{new_order_form}}
            <button type="submit" class="button btn btn-sm mb-1">افزودن به سبد خرید</button>
        </form>
    </div>

    {% if gallery %}
    <div class="gallery col-md-4">
        <p class="text-center text-light mb-4">عکس های مربوطه</p>
        {% for g in gallery %}
            {% for g2 in g %}
                <img src="{{ g2.image.url }}" alt="{{g2.image.url}}">
                {% endfor %}
        {% endfor %}    
    </div>
    {% endif %}

    <div class="mahsolat-pishnahadi col-md-12 my-5">
        <h5 class="text-center text-light my-3">محصولات پیشنهادی</h5>
        {% for p_l in mahsolat_pisnahadi %}
            {% for p in p_l %}
                
                <a href="{% url 'Shoping:ProductDetail' p.pk %}"><img src="{{ p.image.url }}" alt=""></a>
            {% endfor %}
        {% endfor %}
    </div>
    
    



</div>


{% endblock %}
