{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container my-5">
    <link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
    <a href="{% url 'Shoping:ProductList' %}" class="button my-3 btn btn-sm">عقب</a>
    <div class="col-12 col-md-12 card card-body text-center card-detail my-5">
        <p class="text-danger">{{ product.time | timesince }} ago</p>
        <p class="text-danger">{{ product.time | date }} ago</p>
        <img src="{{ product.image.url }}" alt="">
        <h2 class="text-warning text-dark">{{product.title}}</h2>
        <p class="text-dark">{{product.description}}</p>
        <span class="text-dark"><span class="text-success dolar"></span>{{ product.price }} تومان</span>   
    </div>



</div>


{% endblock %}
