{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
<body>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'Shoping:home' %}">خانه</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Shoping:ProductList' %}">محصولات</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">پروفایل</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Shoping:logout' %}">خروج</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Shoping:login' %}">ورود</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Shoping:register' %}">ثبت نام</a>
            </li>
            {% endif %}

          </ul>
    </div>

    {% block body %}

    {% endblock %}
</body>
</html>