{% extends 'base.html' %}
{% load static %}

{% block title %}
ورود
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <div class="row login-row d-flex justify-content-center">
        <div class="col-md-6 col-12 col-sm-12">
            <form action="" method="POST">
                {% csrf_token %}
                <!-- {{loginform}} -->
                    {{ loginform.userName }}
                    {% for error in loginform.userName.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {{ loginform.password }}
                    {% for error in loginform.password.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                <br>
                <input type="submit" class="button btn my-5">
            </form>
        </div>
         
    </div>
</div>

{% endblock %}