{% extends 'base.html' %}
{% load static %}
{% block title %}
سبد خرید
{% endblock %}

{% block body %}
<div class="container">

    {% if order != None and details|length > 0 %}
        <h5 class="text-warning text-center my-5">کاربر: {{ order }}</h5>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                  <th scope="col">محصول</th>
                  <th scope="col">قیمت</th>
                  <th scope="col">تعداد</th>
                  <th scope="col">جمع کل</th>
                  <th scope="col">تصویر</th>
              </tr>
            </thead>
        </table>
        {% for i in details %}
        <table class="table">
            <tbody >
              <tr >
                <td class="text-light">{{ i.product.title }}</td>
                <td class="text-light">{{ i.product.price }}</td>
                <td class="text-light">{{ i.count }}</td>
                <td class="text-light">{{ i.sum_price }}</td>
                <th scope="row"><img style="width: 100px;" src="{{ i.product.image.url }}" alt=""></th>
              </tr>
            </tbody>
        </table>
        {% endfor %}
    {% else %}
        <div class="col-md-6 my-5">
            <p class="alert alert-warning text-center">هیچ محصولی در سبد خرید وجود ندارد</p>
        </div>
    {% endif %}
</div>


{% endblock %}