body{
    /* background-image: url('../images/30_nologo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-image: linear-gradient(to right,#382653,#485563);
    /* background-color: #382653; */
}

ul{
    background-color:rgba(252, 252, 252, 0);
    /* border-radius: 15px; */
}

ul .nav-link{
    font-family: cursive;
    color: #fff;
    margin-left: 15px;
    font-size: 15px;
}

