


ul{
    background-color:rgba(252, 252, 252, 0);
    /* border-radius: 15px; */
    border-bottom: 1px #ffc400e1 solid;
}

ul .nav-link{
    font-family: cursive;
    color: #000;
    margin-left: 15px;
    font-size: 15px;
    transition: .5s;

}

ul .nav-link:hover{
    background-color: #ffbb00e7;
}

