.button{
    width: 100%;  
    font-family: cursive;
    font-size: 14px;
    border: 1px #0b525b solid;
    color: #0b525b;
    border-radius: 1px;
}


.button:hover{
    background-color: #0b525b;
    color: #fff;
}