
.card-list img{
    width: 100%;
    min-height: 100px;
    height: 180px;
    max-height: 200px;
    border-radius: 8px;
    border: 1px #000 solid;   
}

.card-list h2{
    font-size: 17px;
    margin-top: 5px;
    color: #fff;
}
.card-list p{
    font-size: 13px;
    color: #0b525b;
}

.card-list span{
    font-size: 20px;
    margin-right: 5px;
}

.card-list {
    
    max-width: 100%;

    border: 1px #0b525b solid;
    padding: 15px;
    /* border-radius: 15px; */
}

.row{
    margin: 0 10px;
}

.card-list .button{
    margin-top: 10px;
    border: 1px #0b525b solid;
    font-size: 16px;
    color: #fff;
    border-radius: 0px;
    /* box-shadow: 5px 5px 20px #072f33; */
}



.card-list .button:hover{
    transition: .5s;
    background-color: #0b525b;
    color: #fff;
}

.butto-n{
    border: 1px #0b525b solid;
    border-radius: 0px;

}

.butto-n:hover {
    transition: .5s;
    background-color: #0b525b;
}

span .toman {
    font-size: 15px;
    color: #0b525b;
}