.card-detail {
    border: 1px #0b525b solid;
    background-color: #272640;
    box-shadow: 5px 5px 20px #072f33;
    border-radius: 100px;


}

.card-detail img{
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.card-detail h2{
    font-size: 20px;
    margin-top: 5px;
    color: #fff;
}

.card-detail p{
    color: #0b525b;
}


.container .button{
    width: 150px;
    border-radius: 1px;
    border: 1px #0b525b solid;
    color: #fff;
    box-shadow: 5px 5px 20px #072f33;
}

.container .button:hover{
    background-color: #0b525b;
    color: #fff;
}

.container .gallery{
    border: 1px #0b525b solid;
}

.container .gallery img{
    width: 100px;
    height: 100px;
}

span{
    color: #0b525b;
}


.container .mahsolat-pishnahadi{
    border: 1px #0b525b solid;
    box-shadow: 5px 5px 20px #072f33;
    border-radius: 100px;

}



.mahsolat-pishnahadi img{
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 100px;

}

label[for="id_count"]
{
    display:none;
}

input[type='number']{
    width: 50px;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #0b525b solid; 
    font-family: cursive;
    color: #0b525b;
}

.card .history{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}