.card-detail {
    border: 1px #FF685B solid;

}

.card-detail img{
    width: 100%;
}

.card-detail h2{
    font-size: 20px;
    margin-top: 5px;
}


.container .button{
    width: 150px;
    border-radius: 1px;
    border: 1px #FF685B solid;
    color: #FF685B;
}

.container .button:hover{
    background-color: #FF685B;
    color: #fff;
}