.register-row{
    margin-top: 100px;
    box-shadow: 5px 5px 20px #072f33;
    border-radius: 50px;
}

input[type='text']{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px #0b525b solid; 
    font-family: cursive;
    color: #0b525b;

}

input[type='email']{
    margin-top: 50px;
    width: 100%;
    height: 40px;
    justify-self: center;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: cursive;
    border-bottom: 1px #0b525b solid; 
    color: #0b525b;

}

input[type='password']{
    margin-top: 50px;
    width: 100%;
    height: 40px;
    justify-self: center;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: cursive;
    border-bottom: 1px #0b525b solid; 
    color: #0b525b;
}

label{
    display: none;
}

.button{
    width: 100%;  
    font-family: cursive;
    font-size: 14px;
    border: 1px #0b525b solid;
    border-radius: 1px;
    color: #0b525b;

}
.button:hover{
    background-color: #0b525b;
    color: #fff;
}

.register-row {
    border: 1px #0b525b
     solid;
    padding: 50px;
}