.form-control-search {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    font-family: cursive;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px #FF685B solid; 
}